<!--	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>-->
<style>
.card-block
{
background-color: #fff;
border-color: #f0ad4e;
text-align: center;
border-radius:5px;;
display: block;
height: 150px;
width: 350px;
margin-left: 80px;
border: 1px solid #539862;
box-sizing: inherit;
margin-top: 75px;
}
.card-block1
{
background-color: #fff;
border-color: #f0ad4e;
text-align: center;
border-radius:5px;;
display: block;
height: 150px;
width: 350px;
margin-left: 80px;
border: 1px solid #539862;
box-sizing: inherit;
margin-top: 25px;
}
</style>
<div class="jumbotron">
        <div class="container">
            <h2>Welcome Admin!</h2>
            <div class="container">
      <div class="row">
    <div class="col-sm-6">
      <div class="card card-block" style="margin-left:150px">
        <h3 class="card-title">Users</h3>
        <p class="card-text"><h4>Feedback given users:{{userLength}}
         </h4></p>
         <br>
        <button  class="btn btn-primary" ng-click="displayUsers()">View Details</button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Positive Feedback</h3>
        <p class="card-text">
        <h4>Percent of feedback:{{itemLength}}
       </h4></p>
       <br>
        <a class="btn btn-primary" ng-click="displayItems()">View Details</a>
      </div>
    </div>
  </div>
  </div>
     <br>
     <br>
     <div class="row">
   <div class="col-sm-6">
     <div class="card card-block1" style="margin-left:150px">
       <h3 class="card-title">Negative Feedback</h3>
       <p class="card-text"><h4>Percent of feedback:{{orderLength}}
        </h4></p>
        <br>
       <button class="btn btn-primary" ng-click="displayOrders()">View Details</button>
     </div>
   </div>
   <div class="col-sm-6">
     <div class="card card-block1">
       <h3 class="card-title">Reports</h3>
       <p class="card-text">
       <h4>Reports:{{porderLength}}
      </h4></p>
      <br>
       <button  class="btn btn-primary" ng-click="displayPorders()">View Details</button>
     </div>
   </div>
 </div>
 </div>
    <br>
    <br>
     </div>
        </div>
    </div>
