<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Reports <small>Work with Chart.js and D3</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="barfigure">
			<canvas id="bar" class="chart chart-bar" width="30px" height="10px"
				chart-data="bardata" chart-labels="barlabels"> chart-series="series"
			</canvas>
			<center><h3><strong>Customers Visited</strong></h3></center>
		</div>
		<br><br>
		<center>
		<table style="width:70%">
			<tr>
				<td>
					<div class="doughnutgraph">
						<canvas id="doughnut" class="chart chart-doughnut"
			  			chart-data="ddata" chart-labels="dlabels">
						</canvas>
						<center><h3><strong>Budget Range</strong></h3></center>
					</div>
				</td>
				<td>
					<div class="sagraph">
						<canvas id="pie" class="chart chart-pie"
						 chart-data="sadata" chart-labels="salabels" chart-options="options">
						</canvas>
						<center><h3><strong>Store Ambience</strong></h3></center>
					</div>
				</td>
			</tr>
			<tr>
         <td>
					 <div class="sqgraph">
 						<canvas id="pie" class="chart chart-pie"
 							chart-data="sqdata" chart-labels="sqlabels" chart-options="options">
 						</canvas>
 						<center><h3><strong>Store Quality</strong></h3></center>
 					</div>
         </td>
				 <td>
					 <div class="rpgraph">
						 <canvas id="pie" class="chart chart-pie"
							 chart-data="rpdata" chart-labels="rplabels" chart-options="options">
						 </canvas>
						 <center><h3><strong>Range of Products</strong></h3></center>
					 </div>
				 </td>
			</tr>
			<tr>
				<td>
					<div class="qsdata">
						<canvas id="pie" class="chart chart-pie"
							chart-data="qsdata" chart-labels="qslabels" chart-options="options">
						</canvas>
						<center><h3><strong>Service Quality</strong></h3></center>
					</div>
				</td>
			</tr>
		</table>
	</center>
	</div>
</div>
