<div>
	<h2>Users <small>Around the globle...!</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
			<button class="pull right btn btn-sm btn-primary" confirmed-click="showdeletednumbers()"
         ng-confirm-click="Would you like to delete?">Delete</button><br><br>
      <table class="table table-bordered">
      <tr>
				<th>
					select
				</th>
        <th>User Name</th>
        <th>Mobile No</th>
        <th>Feedback</th>
        <th>Rating</th>
				<th>Looking For</th>
      </tr>
      <tr ng-repeat="user in users">
				<td>
					<input type="checkbox" ng-model="string" ng-click="selected(user.id)">
				</td>
        <td>{{user.name}}</td>
        <td>{{user.phoneno}}</td>
        <td>{{user.remarks}}</td>
        <td>{{user.storequality}}</td>
				<td>{{user.lookingfor}}</td>
      </tr>
  </table>
		</div>
</div>
